@use '../../../../assets/mixins/mixins.scss';


.before-calculation{
  width: 379px;
  height: 388px;
  @include mixins.flex(center,center,column);


  &__tip{
    width: 379px;
    height: 152px;
    @include mixins.flex(center,center,column);
    flex-wrap: 1;




  }
}


// width: 117px;
// height: 48px;
// border-radius: 5px ;
// background-color: #00474B;
